<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    {% block title %}{% endblock %} {% include
    'component/insertable/header.html' %}
  </head>

  <body>
    {% include 'component/common/navbar.html' %} {% include
    'component/common/sidebar.html' %} {% block content %}{% endblock %} {%
    include 'component/common/footer.html' %} {% include
    'component/insertable/script.html' %} {% block specific_page_script %}{%
    endblock %}
  </body>
</html>
