<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Login - Webmon v.3.0.1</title>

    {% include 'component/insertable/header.html' %}
  </head>

  <body>
    {% block login_page %}{% endblock %} {% include
    'component/insertable/script.html' %}
  </body>
</html>
