<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{url_for('static', filename='vendor/clipboardjs/clipboard.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/simple-datatables/simple-datatables.js')}}"></script>

<!-- for reactivity -->
<script src="{{url_for('static', filename='vendor/reefjs/reef.min.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
