<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    {% if user %}
    <li class="nav-item">
      <a
        data-bs-toggle="modal"
        data-bs-target="#accountInfo"
        class="nav-link collapsed"
        href="#!"
      >
        <i class="bi bi-file-person"></i>
        <span>Device Lists</span>
      </a>
    </li>
    {% endif %}
  </ul>
</aside>
