{% extends 'base/base.html' %} {% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Log History</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Log History</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">System Info</h5>
                <div class="col-12">
                  <div class="row">
                    <!-- webmon -->
                    <div class="col-md-12">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Webmon</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-braces"></i>
                            </div>
                            <div class="ps-3">
                              <h6>Webmon v.3.0</h6>
                              <span class="text-muted small pt-2 ps-1">
                                <span class="text-muted small d-block"
                                  >Web server Monitoring version 3.0</span
                                >
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Probe time -->
                    <div class="col-sm-12 col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Probe Time</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-clock-history"></i>
                            </div>
                            <div class="ps-3">
                              <h6>{{content.probe_time | datetime_convert}}</h6>
                              <span class="text-muted small pt-2 ps-1">
                                <span class="text-muted small d-block"
                                  >(Probe time using server timezone)</span
                                >
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Upload time -->
                    <div class="col-xxl-6 col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Upload time</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-cloud-arrow-up"></i>
                            </div>
                            <div class="ps-3">
                              <h6>
                                {{ history_at.strftime( "%a, %B %d %Y at
                                %H:%M:%S") }}
                              </h6>
                              <span class="text-muted small pt-2 ps-1">
                                <span class="text-muted small d-block"
                                  >Uploaded to webmon server time</span
                                >
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- network -->
                    <div class="col-md-12">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Network</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-hdd-network"></i>
                            </div>
                            <div class="ps-3 w-100">
                              <div class="d-flex mw-100">
                                <div class="table-responsive w-100">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">interface</th>
                                        <th scope="col">address</th>
                                        <th scope="col">transfer</th>
                                        <th scope="col">recive</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for network in
                                      content.system_info.net_info %}
                                      <tr>
                                        <td>{{network.interface}}</td>
                                        <td>{{network.ip_addr}}</td>

                                        <td>
                                          <span class="badge bg-success"
                                            >{{network.transfer |
                                            readable_bytes}}</span
                                          >
                                        </td>
                                        <td>
                                          <span class="badge bg-danger"
                                            >{{network.receive |
                                            readable_bytes}}</span
                                          >
                                        </td>
                                      </tr>
                                      {% endfor%}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Running application -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Running Application</h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">pid</th>
                      <th scope="col">name</th>
                      <th scope="col">CPU</th>
                      <th scope="col">MEM</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in content.application.running_app %}
                    <tr>
                      <th scope="row"><a href="#">{{c.proc_info.pid}}</a></th>
                      <td>{{c.proc_name}}</td>
                      <td>{{c.used_resource.cpu}}</td>
                      <td>{{c.used_resource.mem | readable_bytes}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Application network info -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Application Network info</h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">pid</th>
                      <th scope="col">name</th>
                      <th scope="col">Remote IP</th>
                      <th scope="col">Remote Port</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in content.application.app_net_usage %}
                    <tr>
                      <th scope="row"><a href="#">{{c.pid}}</a></th>
                      <td>{{c.proc_name}}</td>
                      <td>{{c.address.remote_address}}</td>
                      <td>{{c.address.remote_port}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- System wide log -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">System Log</h5>
                <div class="col-md-12">
                  <div class="row">
                    <table class="table table-borderless datatable">
                      <thead>
                        <tr>
                          <th scope="col">Timestamp</th>
                          <th scope="col">Run Command</th>
                          <th scope="col">Message</th>
                          <th scope="col">Exe File</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for jmsg in content.journal_info %}
                        <tr>
                          <td>{{jmsg.SYSLOG_TIMESTAMP}}</td>
                          <td>{{jmsg._CMDLINE}}</td>
                          <td>{{jmsg.MESSAGE}}</td>
                          <td>{{jmsg._EXE}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>

<!-- End #main -->

<!-- Vendor JS Files -->
{% endblock %}
