{% extends 'base/base.html' %} {% block content %} {% if content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">System Info</h5>
                <div class="col-12">
                  <div class="row">
                    <!-- webmon -->
                    <div class="col-xxl-6 col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Webmon</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-braces"></i>
                            </div>
                            <div class="ps-3">
                              <h6>Webmon v.3.0</h6>
                              <span class="text-muted small pt-2 ps-1">
                                <span class="text-muted small d-block"
                                  >Web server Monitoring version 3.0</span
                                >
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Server -->
                    <div class="col-xxl-6 col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Server</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-server"></i>
                            </div>
                            <div class="ps-3">
                              <h6>{{content.system_info.hostname}}</h6>
                              <span class="text-muted small pt-2 ps-1">
                                <span
                                  class="text-success small pt-1 fw-bold d-block"
                                  >{{content.probe_time |
                                  datetime_convert}}</span
                                >
                                <span class="text-muted small d-block"
                                  >(Probe time using server timezone)</span
                                >
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- network -->
                    <div class="col-md-12">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Network</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-hdd-network"></i>
                            </div>
                            <div class="ps-3 w-100">
                              <div class="d-flex mw-100">
                                <div class="table-responsive w-100">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">interface</th>
                                        <th scope="col">address</th>
                                        <th scope="col">transfer</th>
                                        <th scope="col">recive</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for network in
                                      content.system_info.net_info %}
                                      <tr>
                                        <td>{{network.interface}}</td>
                                        <td>{{network.ip_addr}}</td>

                                        <td>
                                          <span class="badge bg-success"
                                            >{{network.transfer |
                                            readable_bytes}}</span
                                          >
                                        </td>
                                        <td>
                                          <span class="badge bg-danger"
                                            >{{network.receive |
                                            readable_bytes}}</span
                                          >
                                        </td>
                                      </tr>
                                      {% endfor%}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Running application -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Running Application</h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">pid</th>
                      <th scope="col">name</th>
                      <th scope="col">CPU</th>
                      <th scope="col">MEM</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in content.application.running_app %}
                    <tr>
                      <th scope="row"><a href="#">{{c.proc_info.pid}}</a></th>
                      <td>{{c.proc_name}}</td>
                      <td>{{c.used_resource.cpu}}</td>
                      <td>{{c.used_resource.mem | readable_bytes}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Application network info -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Application Network info</h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">pid</th>
                      <th scope="col">name</th>
                      <th scope="col">Remote IP</th>
                      <th scope="col">Remote Port</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in content.application.app_net_usage %}
                    <tr>
                      <th scope="row"><a href="#">{{c.pid}}</a></th>
                      <td>{{c.proc_name}}</td>
                      <td>{{c.address.remote_address}}</td>
                      <td>{{c.address.remote_port}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- System wide log -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">System Log</h5>
                <div class="col-md-12">
                  <div class="row">
                    <table class="table table-borderless datatable">
                      <thead>
                        <tr>
                          <th scope="col">Timestamp</th>
                          <th scope="col">Run Command</th>
                          <th scope="col">Message</th>
                          <th scope="col">Exe File</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for jmsg in content.journal_info %}
                        <tr>
                          <td>{{jmsg.SYSLOG_TIMESTAMP}}</td>
                          <td>{{jmsg._CMDLINE}}</td>
                          <td>{{jmsg.MESSAGE}}</td>
                          <td>{{jmsg._EXE}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                    <pre></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>

{% else %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Running application -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">No report</h5>
                <div class="col-12">
                  <div class="text-center">
                    <h4 class="text-danger">
                      No log report accepted from client !
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>

{% endif %}

<div class="modal-component">
  <div class="modal fade" id="accountInfo" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Account information</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th class="text-center" scope="col">Application token</th>
              </tr>
            </thead>
            <tbody>
              {% for usr in user%}
              <tr>
                <td class="text-capitalize">{{usr.username}}</td>
                <td id="{{usr.username}}" class="text-center">{{usr.token}}</td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button data-bs-dismiss="modal" type="button" class="btn btn-primary">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-component">
  <div class="modal fade" id="logHistory" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log History</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col">Hostname</th>
                <th class="text-center" scope="col">Uploaded time</th>
              </tr>
            </thead>
            <tbody>
              {% if history %} {% for log in history%}
              <tr>
                <td
                  class="text-capitalize text-truncate"
                  style="max-width: 70px"
                  data-bs-toggle="tooltip"
                  data-bs-title="log for {{log.filename|logname_readable}}"
                  data-bs-placement="bottom"
                >
                  <a href="/log_history/{{log.id}}">
                    {{log.filename|logname_readable}}
                  </a>
                </td>
                <td class="text-center">
                  <span class="badge bg-success"
                    >{{log.uploaded.strftime('%a, %B %d %Y @ %H:%M:%S')}}</span
                  >
                </td>
              </tr>
              {% endfor%} {% endif %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button data-bs-dismiss="modal" type="button" class="btn btn-primary">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End #main -->

<!-- Vendor JS Files -->
{% endblock %}
