{% extends 'base/base.html' %} {% block title %}
<title>Dashboard - Webmon v.3.0.1</title>
{% endblock %} {% block content %}
<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">System Info</h5>
                <div class="col-12">
                  <div class="row">
                    <div class="col-xxl-6 col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Webmon</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-braces"></i>
                            </div>
                            <div class="ps-3">
                              <h6>Webmon v.3.0</h6>
                              <span class="text-muted small pt-2 ps-1">
                                <span class="text-muted small d-block"
                                  >Web server Monitoring version 3.0</span
                                >
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xxl-6 col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Server</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-server"></i>
                            </div>
                            <div class="ps-3">
                              <h6 class="rc-hostname"></h6>
                              <span class="text-muted small pt-2 ps-1">
                                <span
                                  class="text-success small pt-1 fw-bold d-block rc-timestamp"
                                ></span>
                                <span class="text-muted small d-block"
                                  >(Probe time using server timezone)</span
                                >
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title rc-cpustream"></h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-cpu-fill"></i>
                            </div>
                            <div class="ps-3 w-100">
                              <div class="d-flex mw-100">
                                <div class="table-responsive w-100">
                                  <canvas
                                    class="smoothie-cpu"
                                    style="width: 100%; height: 5rem"
                                  ></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Memory percentage</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-box"></i>
                            </div>
                            <div class="ps-3 w-100">
                              <div class="d-flex mw-100">
                                <div class="table-responsive w-100">
                                  <canvas
                                    class="smoothie-mem"
                                    style="width: 100%; height: 5rem"
                                  ></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Memory</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-box"></i>
                            </div>
                            <div class="ps-3 w-100">
                              <div class="d-flex mw-100">
                                <div class="table-responsive w-100">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">used</th>
                                        <th scope="col">free</th>
                                        <th scope="col">total</th>
                                      </tr>
                                    </thead>
                                    <tbody class="rc-mem"></tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Hardware Temperature</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-moisture"></i>
                            </div>
                            <div class="ps-3 w-100">
                              <div class="d-flex mw-100">
                                <div class="table-responsive w-100">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Hardware</th>
                                        <th scope="col">Temperature</th>
                                      </tr>
                                    </thead>
                                    <tbody class="rc-hwtemp"></tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Disk</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-hdd-stack"></i>
                            </div>
                            <div class="ps-3 w-100">
                              <div class="d-flex mw-100">
                                <div class="table-responsive w-100">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Mount point</th>
                                        <th scope="col">used</th>
                                        <th scope="col">free</th>
                                        <th scope="col">total</th>
                                      </tr>
                                    </thead>
                                    <tbody class="rc-disk"></tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="card info-card sales-card">
                        <div class="card-body">
                          <h5 class="card-title">Network</h5>

                          <div class="d-flex align-items-center">
                            <div
                              class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                            >
                              <i class="bi bi-hdd-network"></i>
                            </div>
                            <div class="ps-3 w-100">
                              <div class="d-flex mw-100">
                                <div class="table-responsive w-100">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">interface</th>
                                        <th scope="col">address</th>
                                        <th scope="col">transfer</th>
                                        <th scope="col">recive</th>
                                      </tr>
                                    </thead>
                                    <tbody class="rc-network"></tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Running application -->
          <!-- <div class="col-lg-4 col-sm-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Running Application</h5>
                <div class="d-block text-center">
                  <button
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#appList"
                  >
                    open app lists
                  </button>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Application network info -->
          <!-- <div class="col-lg-4 col-sm-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Application Network info</h5>

                <div class="d-block text-center">
                  <button
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#networkApp"
                  >
                    open app lists
                  </button>
                </div>
              </div>
            </div>
          </div> -->

          <!-- System wide log -->
          <!-- <div class="col-lg-4 col-sm-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">System Log</h5>
                <div class="col-md-12">
                  <div class="row">
                    <div class="d-block text-center">
                      <button
                        class="btn btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#jmsgData"
                      >
                        open app lists
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>

<div class="modal-component">
  <div class="modal fade" id="accountInfo" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Account information</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th class="text-center" scope="col">Device</th>
                <th class="text-center" scope="col">Channel</th>
              </tr>
            </thead>
            <tbody>
              {% for usr in user%}
              <tr>
                <td class="text-capitalize">
                  <a href="{{url_for('main.monitor_device', device=usr.id)}}"
                    >{{usr.username}}</a
                  >
                </td>
                <td class="text-center">{{usr.device}}</td>
                <td class="text-center">{{usr.user_topic}}</td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button data-bs-dismiss="modal" type="button" class="btn btn-primary">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End #main -->

<!-- Vendor JS Files -->
{% endblock %} {% block specific_page_script %} {% include
'component/insertable/admin/admin_script.html' %} {% endblock %}
