<script src="{{url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{url_for('static', filename='vendor/chart.js/chart.umd.js')}}"></script>
<script src="{{url_for('static', filename='vendor/echarts/echarts.min.js')}} "></script>
<script src="{{url_for('static', filename='vendor/quill/quill.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/simple-datatables/simple-datatables.js')}}"></script>
<script src="{{url_for('static', filename='vendor/tinymce/tinymce.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
