<script src="{{url_for('static', filename='vendor/smoothie/smoothie.js')}}"></script>
<script src="{{url_for('static', filename='vendor/filesize/filesize.min.js')}}"></script>

<script src="{{url_for('static', filename='js/component/monitor/index.js')}}"></script>
<style>
  div.smoothie-chart-tooltip {
    background: #444;
    padding: 1em;
    margin-top: 20px;
    font-family: consolas;
    color: white;
    font-size: 10px;
    pointer-events: none;
  }
</style>
